// /* FREDONKA - Variable Font (wght, wdth) */
// @font-face {
// 	font-family: 'Fredoka';
// 	font-style: normal;
// 	font-display: swap;
// 	font-weight: 300 700;
// 	font-stretch: 75% 125%;
// 	src: url('/fonts/fredoka/fredoka.ttf') format('truetype');
// 	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
// 		U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
// }

/* fredoka-latin-wght-normal */
@font-face {
	font-family: 'Fredoka';
	font-style: normal;
	font-display: auto;
	font-weight: 300 700;
	font-stretch: 75% 125%;
	src: url(@fontsource-variable/fredoka/files/fredoka-latin-wdth-normal.woff2) format('woff2-variations');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* MONA SANS - Variable Font (wght, wdth) */
@font-face {
	font-family: 'Mona Sans';
	src:
		url('/fonts/mona_sans/Mona-Sans.woff2') format('woff2 supports variations'),
		url('/fonts/mona_sans/Mona-Sans.woff2') format('woff2-variations');
	font-weight: 200 900;
	font-stretch: 75% 125%;
	font-display: auto;
}

/* MONASPACE - Variable Font (wght, wdth, slnt) */
@font-face {
	font-family: 'Monaspace';
	src: url('/fonts/monaspace/MonaspaceNeon_wght-wdth-slnt.ttf') format('truetype');
	font-weight: 200 900;
	font-stretch: 75% 125%;
	font-style: oblique 0deg 10deg;
	font-display: auto;
}

/* INCONSOLATA - Variable Font (wght, wdth) */
@font-face {
	font-family: 'Inconsolata';
	font-weight: 100 900;
	font-style: monospace;
	src: url('/fonts/inconsolata/inconsolata.ttf') format('truetype');
}

:root {
	--font-a: 'Fredoka', sans-serif;
	--font-b: 'Mona Sans', system-ui, sans-serif;
	--font-mono: 'Inconsolata', monospace;
	--font-code: 'Monaspace', monospace;

	--font-xxs: clamp(0.75rem, 2vw, 1rem);
	--font-xs: 0.9rem;
	--font-sm: 1rem;
	--font: 1.1rem;
	--font-md: clamp(1rem, 5vw, 1.25rem);
	--font-lg: clamp(1.25rem, 5vw, 1.75rem);
	--font-xl: clamp(1.5rem, 6vw, 2.25rem);
	--font-xxl: clamp(1.75rem, 7vw, 3rem);
	--font-xxxl: clamp(3rem, 10vw, 5rem);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a,
p,
li,
h3,
h4,
h5,
section {
	font-family: var(--font-b, --font-a, system-ui, Inter, Avenir, Helvetica, Arial, sans-serif);
	font-variation-settings:
		'wght' 400,
		'wdth' 103;
	letter-spacing: 0.02rem;
	word-spacing: 0.1rem;

	// prettier-ignore
	// https://github.com/github/mona-sans?tab=readme-ov-file#stylistic-sets
	font-feature-settings:
		'ss05' on,
		'ss06' on,
		'ss07' on;
}

h1,
h2 {
	font-family: var(--font-a, system-ui, Inter, Avenir, Helvetica, Arial, sans-serif);
}

pre,
code {
	font-family: var(--font-mono, system-ui, monospace);
}
